.per-page {
	display: inline-flex;
	flex-wrap: wrap;

	.form-control {
		.select {
			display: flex;
		}

		.MuiNativeSelect-select.MuiNativeSelect-select {
			min-width: 30px;
			text-align: center;
			padding-right: 0;
		}

		.MuiNativeSelect-icon {
			display: none;
		}
	}

	.helper {
		display: inline-flex;
    	align-items: center;
		margin-right: 10px;
	}
}