.login-popup-container {
	height: 100%;

	.MuiPaper-root {
		border-radius: 30px;
		border: 0;
		padding: 10%;
		background: linear-gradient(70deg, #eec3cd 30%, #ffcaad 70%);
		box-shadow: 1px 2px 3px 0px rgba(255, 105, 135, .3);
	}
}