#menubar {
	margin: 0px auto;
	min-height: 30px;
	position: -webkit-sticky;
	position: sticky;
	background: lightgray;
	height: 30px;

	.admin {
		position:inherit;
		height: 100%;
		width: 5%;
		float: right;
		font-size: 0.8rem;
		font-weight: bold;
		cursor: pointer;
		border-radius: 0px;

		&:hover {
			background: rgb(168, 168, 168);
		}

		&:active {
			background: lightsteelblue;
		}
	}

	.home {
		position:inherit;
		height: 100%;
		width: 5%;
		float: left;
		font-size: 0.8rem;
		font-weight: bold;
		cursor: pointer;
		border-radius: 0px;

		&:hover {
			background: rgb(168, 168, 168);
		}

		&:active {
			background: lightsteelblue;
		}
	}
}