#menubar {
	margin: 0px auto;
	min-height: 30px;
	position: -webkit-sticky;
	position: sticky;
	background: lightgray;
	height: 30px;

	.admin {
		position:inherit;
		height: 100%;
		width: 6%;
		float: right;
		font-size: 0.8rem;
		cursor: pointer;
		background: rgb(168, 168, 168);
		border-radius: 0px;

		&:active {
			background: lightsteelblue;
		}
	}
}