.button-dropdown-container {
	height: 100%;

	.MuiButton-root {
		border-radius: 30px;
		border: 0;
		height: 100%;

		.MuiButton-label {
			text-transform: none;
			font-weight: bold;
			color: black;
			line-height: 100%;
		}
	}

	.MuiList-root {
		width: auto;

		.MuiListItem-root {
			width: auto;
			justify-content: center;
		}
	}
}
