.button-dropdown-container {
	margin: auto;
	height: 100%;

	.MuiButton-root {
		border-radius: 30px;
		border: 0;
		height: 100%;

		.MuiButton-label {
			text-transform: none;
			font-weight: bold;
			color: black;
			line-height: 100%;
		}
	}
}
