name: Build

on:
  workflow_call:

  push:
    branches: [main]

  pull_request:
    branches: [main]

jobs:
  build-react:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js env
        uses: actions/setup-node@v3.8.1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: yarn install

      - name: Building
        run: yarn build

  build-docker:
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Build docker image
        run: |
          docker build .
